Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [ ]:
!pip install selenium

In [1]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
search_field_designation= driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys('Data Analyst')

In [5]:
search_field_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_loc.send_keys("Bangalore")

In [6]:
search_button= driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [7]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [9]:
job_title=[]

for i in range(0, 10):
    job_title.append(title_tags[i].text)
    
job_title[0:4]

['Senior Data Analyst',
 'Data Analyst- customer facing',
 'Sr Data Analyst II',
 'Data Analyst']

In [10]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [11]:
Company_Name=[]

for i in range(0, 10):
    Company_Name.append(company_tags[i].text)
    
Company_Name[0:4]

['Thomson Reuters',
 'Synamedia',
 'IHS Markit',
 'VOLVO ASSET FINANCE INDIA PRIVATE LIMITED']

In [12]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [13]:
job_location=[]

for i in range(0, 10):
    job_location.append(loc_tags[i].text)
    
job_location[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [15]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [16]:
Experience= []

for i in range(0, 10):
    Experience.append(exp_tags[i].text)
    
Experience[0:4]

['2-4 Yrs', '0-3 Yrs', '3-6 Yrs', '2-4 Yrs']

In [17]:
print(len(job_title), len(Company_Name), len(job_location), len(Experience))

10 10 10 10

In [18]:
data=list(zip(job_title, Company_Name, job_location, Experience))

In [19]:
import pandas as pd
df=pd.DataFrame(data, columns=['job_title', 'Company_Name', 'job_location', 'Experience'])
df

,job_title,Company_Name,job_location,Experience
0,Senior Data Analyst,Thomson Reuters,Bangalore/Bengaluru,2-4 Yrs
1,Data Analyst- customer facing,Synamedia,Bangalore/Bengaluru,0-3 Yrs
2,Sr Data Analyst II,IHS Markit,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-6 Yrs
3,Data Analyst,VOLVO ASSET FINANCE INDIA PRIVATE LIMITED,Bangalore/Bengaluru,2-4 Yrs
4,Hiring For Data Analyst with SAP ABAP & BW - C...,MILLION MINDS INFOTECH PRIVATE LIMITED,Bangalore/Bengaluru,7-10 Yrs
5,Senior Business Analyst - Data Sciences and Ad...,Vmware,Bangalore/Bengaluru,3-7 Yrs
6,Business and Data Analyst,CAREERDOST ENTERPRISE,Bangalore/Bengaluru,0-5 Yrs
7,Senior Data Analyst | Lululemon,TALENT500 TECH (INDIA) PRIVATE LIMITED,Bangalore/Bengaluru,5-8 Yrs
8,Urgent hiring For Senior Data Analyst,upGrad,Bangalore/Bengaluru,2-7 Yrs
9,Senior Data Analyst,Capco,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",7-12 Yrs

In [20]:
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [21]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [22]:
driver=webdriver.Chrome("chromedriver.exe")

In [23]:
driver.get("https://www.naukri.com/")

In [24]:
search_title=driver.find_element_by_class_name('suggestor-input')
search_title.send_keys("Data Scientist")

In [25]:
search_loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_loc.send_keys("Bangalore")

In [26]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [27]:
job_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [28]:
Job_Title=[]

for i in range(0, 10):
    Job_Title.append(job_tags[i].text)
    
Job_Title[0:4]

['Senior Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence']

In [29]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [30]:
Company_Name=[]

for i in range(0, 10):
    Company_Name.append(company_tags[i].text)
    
Company_Name[0:4]

['Fractal Analytics', 'IBM', 'IBM', 'IBM']

In [31]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [32]:
Experience_Required=[]

for i in range(0, 10):
    Experience_Required.append(exp_tags[i].text)
    
Experience_Required[0:4]

['5-10 Yrs', '5-7 Yrs', '10-12 Yrs', '11-12 Yrs']

In [33]:
print(len(Job_Title), len(Company_Name), len(Experience_Required))

10 10 10

In [34]:
data=list(zip(Job_Title, Company_Name, Experience_Required))

In [35]:
import pandas as pd
df=pd.DataFrame(data, columns=['Job_Title', 'Company_Name', 'Experience_Required'])
df

,Job_Title,Company_Name,Experience_Required
0,Senior Data Scientist,Fractal Analytics,5-10 Yrs
1,Data Scientist: Advanced Analytics,IBM,5-7 Yrs
2,Data Scientist: Artificial Intelligence,IBM,10-12 Yrs
3,Data Scientist: Artificial Intelligence,IBM,11-12 Yrs
4,Data Scientist: Artificial Intelligence,IBM,11-12 Yrs
5,Data Scientist: Artificial Intelligence,IBM,11-12 Yrs
6,"Data Scientist, Machine Learning (AIML)",Fractal Analytics,3-7 Yrs
7,Sr. Data Scientist,HUDSON'S BAY SERVICES PRIVATE LIMITED,4-9 Yrs
8,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,4-9 Yrs
9,Senior Data Scientist,Walmart,5-10 Yrs

In [36]:
driver.close()

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [37]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [38]:
driver=webdriver.Chrome('chromedriver.exe')

In [39]:
driver.get("https://www.naukri.com/")

In [40]:
search_tags=driver.find_element_by_class_name("suggestor-input ")
search_tags.send_keys("Data Scientist")

In [41]:
search_button= driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [42]:
filter_loc=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i")
filter_loc.click()

In [43]:
filter_salary=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
filter_salary.click()

In [44]:
job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="7628292b-c680-408e-8480-dcf10a49ca6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="af4a5e93-fe51-4a7e-8999-cd030a46f9f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="e6cf4cbb-f948-4208-ad1b-d0e151b888f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="203c5e30-e72c-4718-9df6-1559ceb87144")>]

In [45]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="7f850375-6770-426a-ac12-248aea92e794")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="a7cabb3a-e608-409d-8d4b-84bd1ba92fc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="016567ca-38ae-40be-bac7-8a23f57091e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="22523faf-b697-435f-96e4-57a07782456f")>]

In [46]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="e5d01080-ec49-4e28-93d5-1c21a1615c81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="ab74f90e-d8f5-4dbf-9ca8-6a3d39a0695b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="b10d0e94-df35-4152-9ddf-856d41c0bea1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="a73a2231-9e22-4478-9c75-ea42dd5c5e05")>]

In [47]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="f3dced03-fbe3-4ead-bd05-4d305d6dd6f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="07b74427-2e72-446c-b0b5-defd8c859817")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="ea1750c7-cb18-4ae1-b763-03d6eb41bc17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b88cba6dd8e665bc090ce57c3c17abf", element="b758a8e2-f504-4f4a-be1e-d02fe4f25f2b")>]

In [48]:
Job_title=[]

for i in range(0, 10):
    Job_title.append(job_tags[i].text)
    
Job_title[0:4]

['Data Scientist',
 'Associate Data Scientist',
 'Associate Scientist - Data Engineering',
 'Data Scientist || Software Company || Immediate Joiners To max 30 Days']

In [49]:
Job_loc=[]

for i in range(0, 10):
    Job_loc.append(loc_tags[i].text)
    
Job_loc[0:4]

['Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

In [50]:
Company_Name=[]

for i in range(0, 10):
    Company_Name.append(company_tags[i].text)
    
Company_Name[0:4]

['Ashkom Media India Private Limited',
 'Optum',
 'AXA Technology Services India Pvt. Ltd',
 'Skyleaf Consultants']

In [51]:
Experience_Required=[]

for i in range(0, 10):
    Experience_Required.append(experience_tags[i].text)
    
Experience_Required[0:4]

['3-6 Yrs', '1-5 Yrs', '2-5 Yrs', '3-8 Yrs']

In [52]:
print(len(Job_title), len(Job_loc), len(Company_Name), len(Experience_Required))

10 10 10 10

In [53]:
data=list(zip(Job_title, Job_loc, Company_Name, Experience_Required))

In [54]:
import pandas as pd

df=pd.DataFrame(data, columns=['Job_Title', 'Job_Location', 'Company_Name', 'Experience_Required'])
df

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
1,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
2,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,2-5 Yrs
3,Data Scientist || Software Company || Immediat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Skyleaf Consultants,3-8 Yrs
4,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs
5,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
6,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",Creative Hands HR Consultancy,0-4 Yrs
7,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
8,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
9,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs

In [55]:
driver.close()

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [56]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [57]:
driver = webdriver.Chrome("chromedriver.exe")

In [58]:
driver.get("https://www.flipkart.com/")

In [59]:
close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close_button.click()

In [60]:
search_tags= driver.find_element_by_class_name("_3704LK")
search_tags.send_keys("sunglasses")

In [61]:
search_button= driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [64]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="decc970a-5585-4b68-b592-bdc75da36d8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="fb32103b-263b-426f-8cf1-5d8e7568b7f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="2c4e16a8-1922-4f99-9fb7-1eab1f92b80e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="63031525-4382-4662-b7e5-741cb2b6f1c1")>]

In [65]:
Brand_Name=[]

for i in range(0, 40):
    Brand_Name.append(brand_tags[i].text)
    
Brand_Name[0:4]

['Arnette', 'Singco India', 'Fastrack', 'Fastrack']

In [66]:
des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
des[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="e80bc674-745a-4cb0-bea1-8aaa5156c4f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="c1d5f764-b904-4722-8bbc-06e99f94401d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="97ff2da0-e92e-4ee3-bf21-161cc55133b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="ce9ad7a4-19d7-4262-8c5c-cb6b7e8e5406")>]

In [67]:
Description=[]

for i in range(0, 40):
    Description.append(des[i].text)
    
Description[0:4]

['Others Rectangular Sunglasses (56)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)']

In [68]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="4840c9dd-e3a7-4f2f-8270-22c0803bcd63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="84868daf-790f-49b8-b94e-c091c0d2a219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="d77ac115-ba18-4bee-9257-899706518eb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f855360f829e5af3c3fce2205978003a", element="1d7cb99c-42f6-467e-977f-f7d21f20ea95")>]

In [69]:
Price=[]

for i in range(0,40):
    Price.append(price[i].text)
    
Price[0:4]

['₹4,149', '₹614', '₹669', '₹525']

In [70]:
next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_page.click()

In [71]:
Product_list=[]

for i in range(0, 3):
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    for i in brand_tags:
        brand=i.text
        Product_list.append(brand)
        
    next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_page.click()
    time.sleep(5)

In [72]:
Product_descp=[]

for i in range(0, 3):
    des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for i in des:
        descp=i.text
        Product_descp.append(descp)
        
    next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_page.click()
    time.sleep(5)

In [73]:
Product_price=[]

for i in range(0, 3):
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in price:
        amount=i.text
        Product_price.append(amount)
    
    next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_page.click()
    time.sleep(5)

In [74]:
print(len(Product_list), len(Product_descp), len(Product_price))

120 120 120

In [75]:
import pandas as pd
df=pd.DataFrame({})
df['BRAND_NAME']= Product_list[0:100]
df['DESCRIPTION']= Product_descp[0:100]
df['PRICE']= Product_price[0:100]

df

        BRAND_NAME                                        DESCRIPTION   PRICE
0     Silver Kartz                 Others Rectangular Sunglasses (56)    ₹270
1        New Specs  Gradient, Toughened Glass Lens, UV Protection ...    ₹249
2       Lee Topper      UV Protection Wayfarer Sunglasses (Free Size)    ₹169
3           Resist   UV Protection Rectangular Sunglasses (Free Size)  ₹2,499
4   ROZZETTA CRAFT                UV Protection Round Sunglasses (54)    ₹449
..             ...                                                ...     ...
95         Arnette          UV Protection Rectangular Sunglasses (50)    ₹599
96       New Specs              UV Protection Aviator Sunglasses (58)    ₹164
97        Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹139
98  kingsunglasses  UV Protection, Polarized, Mirrored Rectangular...    ₹589
99       CART2DEAL  UV Protection, Riding Glasses, Others Aviator,...  ₹2,849

[100 rows x 3 columns]

In [76]:
driver.close()

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [77]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [78]:
driver=webdriver.Chrome("chromedriver.exe")

In [79]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace")

In [80]:
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="0af3fb96-c898-44b8-b2bd-7df3138d7451")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="460a70d7-9f19-4215-a5bc-a0a7249dc340")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="13fc4f95-2303-475f-b157-747826e849da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="8e8c5e5f-f206-4141-9bad-87139dbcc770")>]

In [81]:
review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
review_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="02865c35-6e88-4d93-a79c-a1f5ecd1be50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="63b18188-b225-471c-bb65-298f1c444397")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="85cda003-1e36-421f-9c82-a22bb7a88e03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="95b55234-8950-49e2-81ef-e912f48f312e")>]

In [82]:
review_all=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
review_all[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="da30841c-2458-495e-ad3f-5bb392de7328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="964152bb-5464-47eb-9407-0670ef8952c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="e256ed39-3a74-4e8f-952d-181b9c1aac2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0f4a5deef853bf10b70a8fab7c71475", element="ad5640b9-e9eb-4e08-9fb8-05e224d1c5f8")>]

In [83]:
review_button=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
review_button.click()

In [84]:
next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_page.click()

In [85]:
Ratings=[]

for i in range(0, 10):
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    
    for i in rating_tags:
        rating=i.text
        Ratings.append(rating)
        
    next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_page.click()
    time.sleep(5)

In [86]:
Reviews=[]

for i in range(0, 10):
    review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    
    for i in review_tags:
        review=i.text
        Reviews.append(review)
        
    next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_page.click()
    time.sleep(5)

In [87]:
Review_All=[]

for i in range(0, 10):
    review_all=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    for i in review_all:
        reviews=i.text
        Review_All.append(reviews)
        
    next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_page.click()
    time.sleep(5)

In [88]:
print(len(Ratings), len(Reviews), len(Review_All))

100 100 100

In [89]:
data= list(zip(Ratings, Reviews, Review_All))

In [90]:
import pandas as pd
df=pd.DataFrame(data, columns=['Ratings', 'Reviews', 'Review_All'])
df

,Ratings,Reviews,Review_All
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
3,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,4,Good choice,So far it’s been an AMAZING experience coming ...
99,5,Highly recommended,What a camera .....just awesome ..you can feel...

In [91]:
driver.close()

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [92]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [93]:
driver = webdriver.Chrome("chromedriver.exe")

In [94]:
driver.get("https://www.flipkart.com/")

In [95]:
close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close_button.click()

In [96]:
search_field=driver.find_element_by_class_name("_3704LK")
search_field.send_keys('sneakers')

In [97]:
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [98]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="d39f0971-a391-4276-b19d-e11190d8f27e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="5bdee6cf-24fa-4166-b7c4-2813c8661ee5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="04e2fcfa-3b17-41b3-98ac-0e0b9ccd6616")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="80cb72eb-7978-4aea-a0f4-0977c434c36e")>]

In [99]:
description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
description_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="08d9180f-cb6e-481a-bf50-4668ffa6334d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="227d2ec9-f34a-4422-8db1-be034be71854")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="db21b4a5-a98f-4a4c-9021-b72b436efa60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="d4cfcff9-f508-4900-9d32-f6fd33815599")>]

In [100]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="951e3dda-059b-4643-8e50-b83eef4b0725")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="820b5a4a-af95-457f-a5ee-6b635e682f1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="0d62b40e-25bb-4090-ae66-55320b37b77b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="36496005-e02f-46fe-8ad8-e558a25deb9f")>]

In [101]:
discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="e66b533c-7954-4003-8314-e3d94dbf4ea3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="7756c672-ad2b-4312-ac4d-3a92425bf18c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="6855384a-3827-4479-9254-87f6deafb8f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="62182aeeac0f259ee72eca5bbe659b4d", element="a234e0ec-c4e6-4df3-8b9d-8dcae0d766fe")>]

In [102]:
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()

In [103]:
brand_list=[]

for i in range(0, 3):
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    for i in brand_tags:
        brand=i.text
        brand_list.append(brand)
        
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [105]:
description_list=[]

for i in range(0, 3):
    description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for i in description_tags:
        descp=i.text
        description_list.append(descp)
        
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [106]:
price_list=[]

for i in range(0, 3):
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in price_tags:
        price=i.text
        price_list.append(price)
        
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [107]:
discount_list=[]

for i in range(0, 3):
    discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for i in discount_tags:
        discount=i.text
        discount_list.append(discount)
        
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [108]:
import pandas as pd

df=pd.DataFrame({})
df['BRAND']=brand_list[0:100]
df['DESCRIPTION']= description_list[0:100]
df['PRICE']= price_list[0:100]
df['DISCOUNT']= discount_list[0:100]

df

,BRAND,DESCRIPTION,PRICE,DISCOUNT
0,BRUTON,Men's Sneakers Fashion Lightweight Running Sho...,₹505,80% off
1,RapidBox,Sneaker Sneakers For Men,₹249,32% off
2,Echor,Shoes in Black Color Party wear/Outdoor/Casual...,₹148,51% off
3,FEWEYU,Stylish & Trending Outdoor Walking Comfortable...,₹299,60% off
4,Arohi,Sneakers For Men,₹449,62% off
...,...,...,...,...
95,Arivo,casual shoe for men Sneakers For Men,₹249,74% off
96,Dizzler,Black 303 Casual Shoes (Sneakers Shoes) Sneake...,₹440,65% off
97,Chevit,Sneakers For Men,₹249,56% off
98,RODDICK SHOES,Sneakers For Men,"₹2,635",46% off
99,kardam&sons,Sneakers For Men,₹516,54% off

In [109]:
driver.close()

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [110]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [111]:
driver=webdriver.Chrome("chromedriver.exe")

In [112]:
driver.get("https://www.myntra.com/shoes")

In [113]:
filter_price=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
filter_price.click()

In [114]:
filter_colour=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
filter_colour.click()

In [115]:
brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="e1a26cdd-2ddd-407f-abf7-f35e03e2d1af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="76bec74f-209f-4c5d-b73f-f4379af5f181")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="919cf770-4159-4330-8320-104a160e9106")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="05f9c3ce-7507-4934-b42a-1d87359adca8")>]

In [116]:
description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
description_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="c2e3aebd-3ebc-4c17-ab30-5d48ce0cb168")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="614849d7-9c71-4f3e-b960-46c1213beb47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="13879d5b-f740-4dcb-99eb-6208248b88b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="bc158df8-268d-4596-92b8-c3ffbe0dffa6")>]

In [117]:
price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="fca80136-9f79-44d7-8318-a19997fda8bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="55f75cd1-ed2c-4b8b-a831-197c233e9c1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="ab4bb35b-738c-43d8-a4b7-9954e68c7d2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9accaa368e5cbb62699f2ab9913c5f57", element="e176417b-542a-4d8f-93ae-9f064ab56e98")>]

In [118]:
next_page=driver.find_element_by_xpath("//li[@class='pagination-next']")
next_page.click()

In [119]:
Brand_Name=[]
for i in range(0, 2):
    brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    
    for i in brand_tags:
        brand=i.text
        Brand_Name.append(brand)
    
    next_page=driver.find_element_by_xpath("//li[@class='pagination-next']")   
    next_page.click()
    time.sleep(5)

In [120]:
Product_Description=[]
for i in range(0, 2):
    description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
    
    for i in description_tags:
        description=i.text
        Product_Description.append(description)
        
    next_page=driver.find_element_by_xpath("//li[@class='pagination-next']")   
    next_page.click()
    time.sleep(5)

In [121]:
Product_Price=[]
for i in range(0, 2):
    price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
    
    for i in price_tags:
        price=i.text
        Product_Price.append(price)
        
    next_page=driver.find_element_by_xpath("//li[@class='pagination-next']")   
    next_page.click()
    time.sleep(5)

In [122]:
print(len(Brand_Name), len(Product_Description), len(Product_Price))

100 100 100

In [123]:
import pandas as pd
df=pd.DataFrame({})
df['Brand_Name']=Brand_Name[0:100]
df['Product_Description'] = Product_Description[0:100]
df['Product_Price'] = Product_Price[0:100]

df

         Brand_Name          Product_Description                Product_Price
0   PUMA Motorsport               Women Sneakers  Rs. 11249Rs. 14999(25% OFF)
1              Puma                                                 Rs. 10500
2              Puma     Leather Flatform Sandals   Rs. 10355Rs. 10900(5% OFF)
3   PUMA Motorsport     Woven Design Block Heels   Rs. 10355Rs. 10900(5% OFF)
4            Reebok            Men Suede Loafers                     Rs. 9999
..              ...                          ...                          ...
95             ALDO      Block Heeled Gladiators  Rs. 11895Rs. 13995(15% OFF)
96             ALDO     Women Block Heeled Boots                    Rs. 12999
97           ADIDAS  High-Top Block Heeled Boots   Rs. 9749Rs. 12999(25% OFF)
98          Saint G  High-Top Block Heeled Boots   Rs. 8250Rs. 11000(25% OFF)
99          Saint G       Women Leather Sneakers                     Rs. 7499

[100 rows x 3 columns]

In [124]:
driver.close()

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [125]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [126]:
driver=webdriver.Chrome("chromedriver.exe")

In [127]:
driver.get(" https://www.amazon.in")

In [128]:
search_tags=driver.find_element_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
search_tags.send_keys("Laptop")

In [129]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [132]:
filter_tag=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[9]/span/a/div/label/i")
filter_tag.click()

In [133]:
title_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="68d57e56-a5be-4ecc-9299-3591aa820519")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="a9635185-fbd8-4eed-a95b-2889d2dd07ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="3fc0afec-7af2-4010-86f7-dadb2d2cb1f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="05af765d-0ee8-4dec-ab42-009590e90a5f")>]

In [134]:
rating_tags=driver.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']")
rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="7e94a4d5-d64c-4e41-b7ad-9e0157df5694")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="da3c97ec-2b6a-4ea9-9faa-f9dd09d57635")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="e87e8a6c-f2ae-46cf-8f7c-f6c9c240865b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="3bcb8713-582d-406b-9ec5-ec5303661f95")>]

In [135]:
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="ae9fb60e-eb54-4be8-ae81-1ace51af5b18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="3aea73ca-8885-4aa9-9b1e-0bbb2f27087b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="97fe9313-bd8a-44da-8084-1889f7fe007b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3b42bb153bb5e3ed01da6ef0f5ba8d6", element="77b2c781-29e7-4b81-a565-09f3480c2cc9")>]

In [136]:
Brand_Title=[]

for i in range(0, 10):
    Brand_Title.append(title_tags[i].text)
    
Brand_Title[0:4]

['ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 EvoTM  39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office Home & Student 2021/Graphite/1.55Kg), NP750XED-KC2IN',
 'HP Pavilion 14, 11th Gen Intel Core i7-16GB RAM/1TB SSD 14 inch(35.6 cm) Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/FPR/Win 11/MS Office, 14-dv1029TU,Natural Silver',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office 21/Backlit KB/FP Sensor/1.7Kg)']

In [137]:
Ratings=[]

for i in range(0, 10):
    Ratings.append(rating_tags[i].text)
    
Ratings

['', '', '', '', '', '', '', '', '', '']

In [138]:
Price=[]

for i in range(0, 10):
    Price.append(price_tags[i].text)
    
Price[0:4]

['57,490', '79,990', '86,990', '77,990']

In [139]:
import pandas as pd
df=pd.DataFrame({})
df['Brand_Title'] = Brand_Title
df['Ratings'] = Ratings
df['Price'] = Price

df

                                         Brand_Title Ratings     Price
0  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...            57,490
1  Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...            79,990
2  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...            86,990
3  Mi Notebook Ultra 3.2K Resolution Display Inte...            77,990
4  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....            86,990
5  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...            89,990
6  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...            84,590
7  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...            73,990
8  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...          1,01,112
9  LG Gram Intel Evo 11th Gen Core i7 17 inches U...            93,999

In [140]:
driver.close()

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image

In [141]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [142]:
driver = webdriver.Chrome('chromedriver.exe')

In [143]:
driver.get(" https://www.ambitionbox.com")

In [144]:
select_tags=driver.find_element_by_xpath("//a[@class='link jobs']")
select_tags.click()

In [145]:
search_tags=driver.find_element_by_xpath("//input[@class='input tt-input']")
search_tags.send_keys("Data Scientist")

In [146]:
search_button=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_button.click()

In [147]:
filter_location=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
filter_location.click()

In [148]:
search_location=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_location.send_keys("Noida")

In [149]:
click_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
click_loc.click()

In [150]:
job_tags=driver.find_elements_by_xpath("//a[@class='title noclick']")
job_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="834fb449-5523-487c-8af1-6a0defea91ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="b7b28617-5bce-42f9-ad23-8418a56cb945")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="8dda5c7e-ca9d-4555-ba6b-80fce019201b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="a1b143c2-efd3-4bf0-b88e-32062a8eeacf")>]

In [151]:
company_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="28b017c7-3a07-4443-bad7-c2aab9819c64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="9180b724-b7ac-4b56-a160-d78705290634")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="162d351f-1f0d-4e47-b832-c1b50c8e6dee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="4ac19aed-3926-4f89-aae2-789ddb6e8bea")>]

In [152]:
days_tags=driver.find_elements_by_xpath("//span[@class='body-small-l']")
days_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="1677963a-1ae2-4417-9a28-6c143d9c5d72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="348237d9-c39f-4f66-b509-a8ffb996fb5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="d5323466-48d2-4c66-976d-d25d95c0c627")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="21bab3c0-aa4d-4019-8f85-5b924a8bfc69")>]

In [153]:
rating_tags=driver.find_elements_by_xpath("//span[@class='body-small']")
rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="3e560968-d96d-4556-9d8d-870398af788c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="1003cb76-4094-472a-a741-a5f20c0c93bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="1fabe23a-4ac4-4a30-9500-8556cbd6f5f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b8fe4533ecd080185c3fc43d22fccd92", element="36db5948-838a-405d-bb64-bf7656880506")>]

In [154]:
Job_Title=[]

for i in range(0, 10):
    Job_Title.append(job_tags[i].text)
    
Job_Title

['Data Scientist- AI/ML- R&D',
 'Data Scientist',
 'Oracle HCM BI Technical Lead/Manager (People Analytics)',
 'Hiring For Data Scientist + Python/R+ Predictive Modeling',
 'Data Scientist - Immediate Joiners',
 'Data Scientist - Machine Learning (5-14 yrs)',
 'Data Scientist',
 'Data Scientist- Fresher Opening - Newgen Software Technologies',
 'Data Analyst / Data Scientist',
 'Senior Data Scientist']

In [155]:
Company_Name=[]

for i in range(0, 10):
    Company_Name.append(company_tags[i].text)
    
Company_Name

['EXL Services.com ( I ) Pvt. Ltd.',
 'GENPACT India Private Limited',
 'TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED',
 'GENPACT India Private Limited',
 'Bristlecone India Limited',
 'Zyoin',
 'Ashkom Media India Private Limited',
 'Newgen Software Technologies Ltd.',
 'JK Technosoft Ltd',
 'Pitney Bowes India Pvt Ltd']

In [156]:
No_of_days=[]

for i in range(0, 20, 2):
    No_of_days.append(days_tags[i].text)
    
No_of_days

['7d ago',
 '19d ago',
 '5d ago',
 '1mon ago',
 '14d ago',
 '18d ago',
 '5d ago',
 '20d ago',
 '29d ago',
 '1mon ago']

In [157]:
Company_Ratings=[]

for i in range(0, 10):
    Company_Ratings.append(rating_tags[i].text)
    
Company_Ratings

['3.9', '4.0', '3.9', '4.0', '3.8', '4.1', '3.7', '3.5', '3.7', '4.2']

In [158]:
import pandas as pd
df=pd.DataFrame({})
df['Job_Title'] = Job_Title
df['Company_Name'] = Company_Name
df['No_of_days_ago'] = No_of_days
df['Company_Ratings'] = Company_Ratings

df

,Job_Title,Company_Name,No_of_days_ago,Company_Ratings
0,Data Scientist- AI/ML- R&D,EXL Services.com ( I ) Pvt. Ltd.,7d ago,3.9
1,Data Scientist,GENPACT India Private Limited,19d ago,4.0
2,Oracle HCM BI Technical Lead/Manager (People A...,TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED,5d ago,3.9
3,Hiring For Data Scientist + Python/R+ Predicti...,GENPACT India Private Limited,1mon ago,4.0
4,Data Scientist - Immediate Joiners,Bristlecone India Limited,14d ago,3.8
5,Data Scientist - Machine Learning (5-14 yrs),Zyoin,18d ago,4.1
6,Data Scientist,Ashkom Media India Private Limited,5d ago,3.7
7,Data Scientist- Fresher Opening - Newgen Softw...,Newgen Software Technologies Ltd.,20d ago,3.5
8,Data Analyst / Data Scientist,JK Technosoft Ltd,29d ago,3.7
9,Senior Data Scientist,Pitney Bowes India Pvt Ltd,1mon ago,4.2

In [159]:
driver.close()

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps

In [1]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
driver.get("https://www.ambitionbox.com")

In [4]:
salary_tags=driver.find_element_by_xpath("//a[@class='link salaries']")
salary_tags.click()

In [5]:
search_tags=driver.find_element_by_xpath("//input[@class='tt-input']")
search_tags.send_keys("Data Scientist")

In [6]:
search_tag= driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
search_tag.click()

In [7]:
company_tags=driver.find_elements_by_xpath("//div[@class='name']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="40e64645-ea20-42cf-a9be-0fcba7f104b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="40c25eb4-93e2-47fd-b981-da1617c3ca94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="54c67ed7-0a3b-4f67-8b18-15c241b93102")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="d04881c4-bb38-4177-8234-84551f89a54c")>]

In [8]:
Company_name=[]

for i in range(0, 10):
    Company_name.append(company_tags[i].text)

Company_name

['Walmart\nbased on 11 salaries',
 'Ab Inbev\nbased on 32 salaries',
 'Reliance Jio\nbased on 10 salaries',
 'ZS\nbased on 15 salaries',
 'Optum\nbased on 27 salaries',
 'Fractal Analytics\nbased on 81 salaries',
 'Tiger Analytics\nbased on 46 salaries',
 'UnitedHealth\nbased on 53 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries']

In [9]:
min_salary_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
min_salary_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="488481e0-e585-41a9-93b6-ad50fdd6ef70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="581e0845-a55c-4bb5-9d51-d4b7d96036af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="b42d3a8e-a0b0-4d19-8969-68402d8ec1da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="5683342b-3c7f-42f0-b4b4-883320ac19bd")>]

In [10]:
Min_Salary=[]

for i in range(0,10):
    Min_Salary.append(min_salary_tags[i].text.replace('\n', ''))
    
Min_Salary

['₹ 25.0L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 22.0L']

In [11]:
avg_salary_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
avg_salary_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="1897bc2a-c648-45c1-99e3-3b3496dd1003")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="1a34c294-b269-4660-ac02-8d98fbc68ffb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="146a5c21-0480-42bb-ad79-c1762e64a519")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="750a57b9-62ff-443e-92cf-fc1a42b03920")>]

In [12]:
Avg_Salary=[]

for i in range(0,10):
    Avg_Salary.append(avg_salary_tags[i].text)
    
Avg_Salary

['₹ 29.7L',
 '₹ 20.5L',
 '₹ 18.9L',
 '₹ 15.9L',
 '₹ 15.2L',
 '₹ 15.2L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 12.7L',
 '₹ 12.4L']

In [13]:
exp_required=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
exp_required[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="bf543868-1453-49b8-aa91-80c212dbbb1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="03a87a77-269d-48c4-b55a-fcee094c64e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="2ac53efb-bab9-4360-a189-dcaecd47bb37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4518ab8a9167e421d5cb84f5fc9a8641", element="da19a23b-d5c5-4960-852d-1ad7c28f02e1")>]

In [14]:
Exp_Required=[]

for i in range(0,10):
    Exp_Required.append(exp_required[i].text.replace("Data Scientist\n . \n", ""))
    
Exp_Required

['3 yrs exp',
 '3-4 yrs exp',
 '4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '2-4 yrs exp',
 '2-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp']

In [15]:
import pandas as pd
df=pd.DataFrame({})
df['Company_name'] = Company_name
df['Min_Salary'] = Min_Salary
df['Avg_Salary'] = Avg_Salary
df['Exp_Required'] = Exp_Required

df

,Company_name,Min_Salary,Avg_Salary,Exp_Required
0,Walmart\nbased on 11 salaries,₹ 25.0L,₹ 29.7L,3 yrs exp
1,Ab Inbev\nbased on 32 salaries,₹ 35.0L,₹ 20.5L,3-4 yrs exp
2,Reliance Jio\nbased on 10 salaries,₹ 15.0L,₹ 18.9L,4 yrs exp
3,ZS\nbased on 15 salaries,₹ 25.5L,₹ 15.9L,2 yrs exp
4,Optum\nbased on 27 salaries,₹ 5.6L,₹ 15.2L,3-4 yrs exp
5,Fractal Analytics\nbased on 81 salaries,₹ 26.2L,₹ 15.2L,2-4 yrs exp
6,Tiger Analytics\nbased on 46 salaries,₹ 9.8L,₹ 14.8L,2-4 yrs exp
7,UnitedHealth\nbased on 53 salaries,₹ 20.0L,₹ 14.0L,2-4 yrs exp
8,Verizon\nbased on 14 salaries,₹ 11.0L,₹ 12.7L,4 yrs exp
9,Ganit Business Solutions\nbased on 13 salaries,₹ 22.0L,₹ 12.4L,4 yrs exp

In [16]:
driver.close()